<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
	"http://www.w3.org/TR/html4/loose.dtd">
<html lang="en">

<head>
	
	<title>Book Talk - <%=@book.title %></title>
	<meta http-equiv="Content-type" content="text/html; charset=utf-8">
	
	<meta name="keywords" content="books, reading, reading rooms, book talk, book discussion, book discussions, book chat, reading chat, book club, book clumbs">	
	<meta name="description" content="Book rooms. What are you reading?">

	<meta name="Saha and Matt" content="BookRooms">

	<link rel="stylesheet" type="text/css" href="/lib/reset.css" />
	<link rel="stylesheet" type="text/css" href="/lib/grid.css" />
	<link rel="stylesheet" type="text/css" href="/lib/typography.css" />
	<link rel="stylesheet" type="text/css" href="/lib/homebrew.css" />

</head>

<body>

	<div class="container" style="padding-top: 18px; padding-bottom: 0px;">
		
		<div class="column span-7 first" id="Logo">
			<h2 class="plain">Book Talk</h2>
		</div>
		
		<% if @comments.length > 0%>
			<div class="column span-13 last">
				<h2 class="room_shoutout">Reading <i><%=@book.title %></i>? Join the conversation!</h2>
			</div>
		<% end %>
		
		<div class="clear"></div>
		<div class="column first" id="left_column_wrapper">
			<div class="column span-6 first" id="left_column">
				<div class="column span-6 first last white">
					<h1><%=@book.title %></h1>
					<p>by <%=@book.author %></p>
					<div class="column span-2 first" id="book_cover">
						<img class="float_left" id="book_cover_image" src="<%=@book.image_url %>">
					</div>
			
					<div class="column span-4 last" id="book_info">				
			
						<ul>
							<li class="clearfix small">Viewed <%=@book.views %> times</li>
					
							<li class="clearfix" id="email_notifications">
								<label class="float_left small clearfix"><input type="checkbox" class="float_left" id="info_subscribe_checkbox" onclick="$('comment_follow_subscription').toggle(); return true"></input> Notify me of new comments</label>
								<div class="column first last" id="comment_follow_subscription" style="display: none;">
									<p class="no_bottom_margin" id="notifications_error_note" style="display: none;"><strong class="red">That's not a real email!</strong></p>
									
									 <% form_remote_tag :url => '/comments/subscribe', :update  => "comment_follow_subscription" do -%>
										<input type="hidden" id="book_id" name="book_id" value="<%=@book.id %>"
										<input type="text" id="sub_email" name="sub_email" class="float_left info_subscribe_form grey" value="Your Email Address"></input>							 
										<%= submit_tag   'subscribe',  :class => "float_left info_subscribe_form"  %>
									 <% end -%>
								</div>
								<div class="column first last" id="comment_follow_success" style="display: none">
									<h3 class="plain" style="color: green;">Success! <span class="small plain"><a href="#" onclick="$('comment_follow_success').toggle(); return false" class="red">hide</a></h3>
								</div>
							</li>
							<li class="clearfix">
								<%=
								link_to_remote "Reveal all spoiler comments",
								:url => "/comments/ViewBookComments/" + @book.id.to_s + "?p=#{@comments.current_page}&spoilers=t"
								%>
								</li>
							<div class="clear"></div>
							<li class="clearfix"><a href="<%= @book.amz_purchase_url %>" id="amazon_link">at Amazon</a></li>
							<li class="clearfix">
								<a href="#" onclick="$('email_friend_form').toggle(); return false">Email this page to a friend</a>
								<div class="column span-6 pull-2 last" id="email_friend_form" style="display: none;">
									<h4 class="plain no_bottom_margin clean">Email this page to a friend</h4>
									<form>
										<label class="small grey clearfix">Your Email</label>
										<input type="text"></input>
										<label class="small grey clearfix">Friend's Email</label>
										<input type="text"></input>
										<label class="small grey clearfix">Message (optional)</label>
										<textarea class="clearfix"></textarea>
								<!-- FORMATT - Display text of page url cut at 45 charcters plus three following periods "..." -->
										<p class="small clean grey no_bottom_margin clearfix">www.bookreadingroom.com/13/to-kill-a....</p>
									
										<input type="submit" value="Send Email"></input>
								<!-- FORMATT - After email is sent display this message for 2 seconds then hide email div (people should then be able to click on it and send another email) -->		
										<!-- <center>
											<h2 class="plain">Message Sent :D</h2>
										</center> -->
									</form>
								</div>
							</li>
					
						</ul>
			
					</div>
			
				</div>
				<img class="tl" src="/images/book_corner_tl.jpg" alt=""/>
				<img class="tr" src="/images/book_corner_tr.jpg" alt=""/>
				<img class="br" src="/images/book_corner_br.jpg" alt=""/>
				<img class="bl" src="/images/book_corner_bl.jpg" alt=""/>
			</div>
			<div class="clear"></div>
			<p class="small" style="text-align: center; margin-top: 18px;"><a href="/">Find a different book</a>.</p>
		</div>
		
		<!-- COMMENTS -->
		
		<div class="column span-13 last clearfix">
		
			<!-- EMPTY ROOM SHOUTOUT -->
			<% if @comments.length < 1%>
				<%= render :partial => "comments/empty_comments", :object => @book %>
	        <% else %>		
				<%= render :partial => "comments/comments2", :object => @comments %>
			<% end %>

			<!-- COMMENTING FORM -->	
			<%= render :partial => "comments/comment_form", :object => @comments %>
			
		</div>
		<div id="footer" class="column span-13 prepend-7">
			<p class="small grey"><strong><a href="/">BookReadinRoom</a></strong> was created by <a href="http://sahadeva.com/">Sahadeva Hammari</a> and Matt Campbell over a few weekends at a Manhattan cafe.<br/>We hope you like it. Please email any feedback to <a href="mailto:talk@readingrooms.com">talk@readingrooms.com</a>. All rights are reserved.</p>
		</div>
	</div>	
	
	<script type="text/javascript">
	var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
	document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
	</script>
	<script type="text/javascript">
	var pageTracker = _gat._getTracker("UA-75045-4");
	pageTracker._trackPageview();
	</script>
	
</body>


<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/prototype/1.6.0.2/prototype.js"></script>
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/scriptaculous/1.8.1/scriptaculous.js?load=effects"></script>
</html>